@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

body{
  background-color: azure;
}

h1{
  font-family:'STIX Two Text', serif;
  font-size: 100px;
  text-align: center;
  margin-top: 270px;
}
